<div [style]="{ width: '650px' }" class="p-fluid">
  <!--   [visible]="true" -->
  <!--    [modal]="true"-->
  <!--    [closable]="false"-->
  <div class="col-12">
    <form [formGroup]="form">
      <div
        *ngIf="!isNewPassword && isAdmin"
        class="p-fluid p-formgrid grid mt-2"
      >
        <div class="field col-12 md:col-6 mb-2">
          <span class="p-float-label">
            <input
              id="name"
              type="text"
              pInputText
              formControlName="name"
              aria-describedby="name-error"
            />
            <label for="name" class="block text-900 mb-2">Nom et prénom</label>
          </span>
          <small
            id="name-error"
            class="p-error block"
            *ngIf="form.get('name')?.invalid && form.get('name')?.dirty"
            >Nom et prénom requis</small
          >
        </div>
        <div class="field col-12 md:col-6 mb-2">
          <span class="p-float-label">
            <input
              id="username"
              type="text"
              pInputText
              formControlName="username"
              aria-describedby="username-error"
            />
            <label for="username" class="block text-900 mb-2"
              >Nom d'utilisateur</label
            >
          </span>
          <small
            id="username-error"
            class="p-error block"
            *ngIf="form.get('username')?.invalid && form.get('username')?.dirty"
            >Nom d'utilisateur requis (min 6 caractères)</small
          >
        </div>
      </div>

      <div *ngIf="!isNewPassword" class="p-fluid p-formgrid grid mt-2">
        <div class="field col-12 md:col-6 mb-2">
          <span class="p-float-label">
            <input
              id="email"
              type="text"
              pInputText
              formControlName="email"
              aria-describedby="email-error"
            />
            <label for="email" class="block text-900 mb-2">Email</label>
          </span>
          <small
            id="email-error"
            class="p-error block"
            *ngIf="form.get('email')?.invalid && form.get('email')?.dirty"
            >Email invalid !</small
          >
        </div>
        <div class="field col-12 md:col-6 mb-2">
          <span class="p-float-label">
            <p-inputMask
              id="numTel"
              mask="(999) 99 99 99 99"
              formControlName="numTel"
              aria-describedby="numTel-error"
            ></p-inputMask>
            <label htmlFor="numTel" class="block text-900 mb-2"
              >Téléphone</label
            >
          </span>
          <small
            id="numTel-error"
            class="p-error block"
            *ngIf="form.get('numTel')?.invalid && form.get('numTel')?.dirty"
            >Numéro invalid !</small
          >
        </div>
      </div>

      <div
        *ngIf="!isNewPassword && isAdmin"
        class="p-fluid p-formgrid grid mt-2"
      >
        <div class="field col-12 md:col-12 mb-2">
          <span class="p-float-label">
            <p-multiSelect
              id="roles"
              [options]="rolesList"
              [filter]="false"
              [showHeader]="false"
              placeholder="Selectionner"
              formControlName="roles"
              display="chip"
            >
            </p-multiSelect>
            <label for="roles" class="block text-900 mb-2"
              >Type d'utilisateur</label
            >
          </span>
          <small
            id="status-error"
            class="p-error block"
            *ngIf="form.get('status')?.invalid && form.get('status')?.dirty"
            >Statut invalide
          </small>
        </div>
        <div class="field col-12 md:col-6 mb-2">
          <label for="isAccountDisabled" class="block text-900 mb-2"
            >Compte desactivé</label
          >
          <p-inputSwitch
            id="isAccountDisabled"
            formControlName="isAccountDisabled"
            aria-describedby="avatar-error"
          ></p-inputSwitch>
        </div>
        <div class="field col-12 md:col-6 mb-2">
          <span class="p-float-label">
            <p-dropdown
              id="status"
              [options]="statusList"
              placeholder="Selectionner"
              formControlName="status"
              aria-describedby="status-error"
            ></p-dropdown>
            <label for="status" class="block text-900 mb-2">Status</label>
          </span>
        </div>
      </div>

      <div *ngIf="isNew || isNewPassword" class="p-fluid p-formgrid grid mt-2">
        <div class="field col-12 md:col-6 mb-2">
          <label for="password" class="block text-900 mb-2">Mot passe</label>
          <p-password
            id="password"
            formControlName="password"
            [toggleMask]="true"
            [feedback]="false"
            aria-describedby="password-error"
          ></p-password>
          <small
            id="password-error"
            class="p-error block"
            *ngIf="form.get('password')?.invalid && form.get('password')?.dirty"
            >Minimun 8 caractères</small
          >
        </div>
        <div class="field col-12 md:col-6 mb-2">
          <label for="confirmPassword" class="block text-900 mb-2"
            >Confrmer mot passe</label
          >
          <p-password
            id="confirmPassword"
            [toggleMask]="true"
            formControlName="confirmPassword"
            [feedback]="false"
            aria-describedby="confirmPassword-error"
          ></p-password>
          <small
            id="confirmPassword-error"
            class="p-error block"
            *ngIf="
              form.get('confirmPassword')?.dirty && form.hasError('matching')
            "
            >Veuillez fournir des mots identiques !</small
          >
        </div>
      </div>
    </form>
  </div>

  <div class="flex justify-content-start flex-wrap col-12">
    <div class="col-6 align-items-center justify-content-center">
      <button
        pButton
        pRipple
        label="Cancel"
        icon="pi pi-times"
        class="p-button"
        (click)="hideDialog(user, false)"
      ></button>
    </div>
    <div class="col-6 align-items-center justify-content-center">
      <button
        pButton
        pRipple
        label="Save"
        icon="pi pi-check"
        class="p-button"
        [disabled]="form.invalid"
        (click)="save()"
      ></button>
    </div>
  </div>
</div>
