<div>
  <div
    class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden"
  >
    <div class="flex flex-column align-items-center justify-content-center">
      <img
        src="assets/layout/images/{{
          layoutService.config.colorScheme === 'light'
            ? 'logo-dark'
            : 'logo-white'
        }}.svg"
        alt="Sakai logo"
        class="mb-5 w-6rem flex-shrink-0"
      />
      <div
        style="
          border-radius: 56px;
          padding: 0.3rem;
          background: linear-gradient(
            180deg,
            var(--primary-color) 10%,
            rgba(33, 150, 243, 0) 30%
          );
        "
      >
        <div
          class="w-full surface-card py-8 px-5 sm:px-8"
          style="border-radius: 53px"
        >
          <div class="text-center mb-5">
            <div class="text-900 text-3xl font-medium mb-3">Bienvenue !</div>
            <span class="text-600 font-medium"
              >Veuillez vous connecter ...</span
            >
          </div>
          <form [formGroup]="loginForm">
            <div>
              <div class="field" class="w-full md:w-30rem mb-6">
                <span class="p-float-label">
                  <input
                    id="username"
                    type="text"
                    pInputText
                    formControlName="username"
                    aria-describedby="username-error"
                    class="w-full md:w-30rem"
                    style="padding: 1rem"
                  />
                  <label for="username" class="block text-900 mb-2"
                    >Nom d'utilisateur</label
                  >
                </span>
                <small
                  id="username-error"
                  class="p-error block"
                  *ngIf="
                    loginForm.get('username')?.invalid &&
                    loginForm.get('username')?.dirty
                  "
                  >Username invalid !</small
                >
              </div>
              <div class="field" styleClass="w-full md:w-30rem mb-6">
                <span class="p-float-label">
                  <p-password
                    id="password"
                    [toggleMask]="true"
                    formControlName="password"
                    [feedback]="false"
                    aria-describedby="password-error"
                    inputStyleClass="w-full p-3 md:w-30rem"
                  ></p-password>
                  <label for="password" class="block text-900 mb-2"
                    >Mot passe</label
                  >
                </span>
                <small
                  id="password-error"
                  class="p-error block"
                  *ngIf="
                    loginForm.get('password')?.invalid &&
                    loginForm.get('password')?.dirty
                  "
                  >Minimun 8 caractères</small
                >
              </div>

              <div
                class="flex align-items-center justify-content-between mt-5 mb-5 gap-5"
              >
                <div class="flex align-items-center">
                  <p-checkbox
                    id="rememberMe"
                    [binary]="true"
                    styleClass="mr-2"
                    formControlName="rememberMe"
                  ></p-checkbox>
                  <label for="rememberMe">Remember me</label>
                </div>
              </div>
              <button
                pButton
                pRipple
                label="Connexion"
                class="w-full p-3 text-xl"
                [loading]="isLoading"
                [disabled]="loginForm.invalid"
                (click)="submit()"
              ></button>
            </div>
          </form>
          <p-divider class=""></p-divider>
          <div class="flex justify-content-between mb-6 mt-5">
            <div class="flex justify-content-start">
              <i
                class="pi pi-arrow-left"
                style="color: var(--primary-color)"
              ></i>
              <a
                [routerLink]="['/']"
                class="font-medium no-underline ml-2 text-right cursor-pointer"
                style="color: var(--primary-color)"
              >
                Retour à l'accueil</a
              >
            </div>
            <a
              [routerLink]="['/auth/reset-password']"
              class="flex justify-content-end font-medium no-underline ml-2 text-right cursor-pointer"
              style="color: var(--primary-color)"
              >Mots de passe oublié ?</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p-toast></p-toast>
