<div class="grid p-fluid">
  <div class="col-12">
    <div class="flex justify-content-start align-items-center">
      <div class="flex justify-content-start">
        <i class="pi pi-arrow-left" style="color: var(--primary-color)"></i>
        <a
          [routerLink]="[APP_RESOURCE_USER]"
          class="font-medium no-underline ml-2 text-right cursor-pointer"
          style="color: var(--primary-color)"
        >
          Retour</a
        >
      </div>
    </div>
  </div>
  <div class="col-12 md:col-4 px-6">
    <div
      class="flex justify-content-center align-items-center col-12"
      style="position: relative"
    >
      <p-image
        [src]="avatar ? avatar : 'assets/images/default/avatar.png'"
        class="mr-5 mb-3 lg:mb-0 border-round"
        width="200"
        height="200"
      ></p-image>
      <input
        #fileInput
        style="display: none"
        type="file"
        accept="image/*"
        (change)="onUpload($event)"
      />
    </div>
    <div class="align-items-center text-sm mb-5">
      <div class="flex justify-content-between align-items-center mb-5">
        <span class="text-900 font-medium text-3xl pt-5">{{ user.name }}</span>
        <p-speedDial
          [model]="menuItems"
          [radius]="80"
          direction="up-left"
          type="quarter-circle"
          class="mb-6 mr-6"
          buttonClassName="p-button-rounded p-button-ou p-button-success mr-2"
        ></p-speedDial>
      </div>
      <ul class="list-none m-0 p-0">
        <li
          class="px-0 py-2 flex justify-content-between align-items-center border-bottom-1 surface-border"
        >
          <span class="text-600 font-medium text-sm">Email</span>
          <span class="text-900 font-medium text-sm">{{ user.email }}</span>
        </li>
        <li
          class="px-0 py-2 flex justify-content-between align-items-center border-bottom-1 surface-border"
        >
          <span class="text-600 font-medium text-sm">Non d'utilisateur</span>
          <span class="text-900 font-medium text-sm">{{ user.username }}</span>
        </li>
        <li
          class="px-0 py-2 flex justify-content-between align-items-center border-bottom-1 surface-border"
        >
          <span class="text-600 font-medium text-sm">Téléphone</span>
          <span class="text-900 font-medium text-sm">{{ user.numTel }}</span>
        </li>
        <li
          class="px-0 py-2 flex justify-content-between align-items-center border-bottom-1 surface-border"
        >
          <span class="text-600 font-medium text-sm">Roles</span>
          <span class="text-900 font-medium text-sm"
            ><p-tag
              class="mr-1"
              *ngFor="let role of user.roles"
              [value]="role"
              [severity]="roleSeverity(role)"
            ></p-tag
          ></span>
        </li>
        <li
          class="px-0 py-2 flex justify-content-between align-items-center border-bottom-1 surface-border"
        >
          <span class="text-600 font-medium text-sm">Statut</span>
          <span class="text-900 font-medium text-sm"
            ><p-tag
              [value]="user.status ? user.status : ''"
              [severity]="statusSeverity(user.status ? user.status : '')"
            ></p-tag
          ></span>
        </li>
        <li class="px-0 py-2 flex justify-content-between align-items-center">
          <span class="text-600 font-medium text-sm">Etat du compte</span>
          <span class="text-900 font-medium text-sm"
            ><p-tag
              [value]="user.isAccountDisabled ? 'Suspendu' : 'Actif'"
              [icon]="
                user.isAccountDisabled
                  ? 'pi pi-exclamation-triangle'
                  : 'pi pi-check'
              "
              [severity]="user.isAccountDisabled ? 'warning' : 'success'"
            ></p-tag
          ></span>
        </li>
        <li class="px-0 py-2 flex justify-content-between align-items-center">
          <span class="text-600 font-medium text-sm">Possède un camion</span>
          <span class="text-900 font-medium text-sm"
            ><p-tag
              class="mr-1"
              [value]="user.isAssigned ? 'Oui' : 'Non'"
              [icon]="user.isAssigned ? 'pi pi-truck' : 'pi pi-times'"
              [severity]="user.isAccountDisabled ? 'success' : 'warning'"
            ></p-tag
          ></span>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-12 md:col-8 px-6">
    <p-tabMenu
      [model]="panelItems"
      [activeItem]="activeItem"
      (activeItemChange)="onActiveItemChange($event)"
    ></p-tabMenu>

    <div class="pt-4">
      <app-accounts-statistic
        *ngIf="activeItem === panelItems[0]"
      ></app-accounts-statistic>
      <app-accounts-travel
        *ngIf="activeItem === panelItems[1]"
      ></app-accounts-travel>
      <app-accounts-expense
        *ngIf="activeItem === panelItems[2]"
      ></app-accounts-expense>
      <app-accounts-document
        *ngIf="activeItem === panelItems[3]"
      ></app-accounts-document>
    </div>
  </div>
</div>
