<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Confirmation et Activation de Votre Nouveau Compte</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }
    .container {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
    }
    .header {
      text-align: center;
      margin-bottom: 20px;
    }
    .logo {
      max-width: 150px;
    }
    .content {
      background-color: #f7f7f7;
      padding: 20px;
      border-radius: 5px;
    }
    .button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #007bff;
      color: #fff;
      text-decoration: none;
      border-radius: 5px;
    }
  </style>
</head>
<body>
<div class="container">
  <div class="header">
    <img src="lien_vers_votre_logo.png" alt="Logo de 3T-BUSINESS" class="logo">
    <h1>Changement de mot de passe</h1>
  </div>
  <div class='content'>
    <p>Cher(e) {{name}},</p>
    <p>Pour changer votre mot passe, veuillez cliquer sur le bouton ci-dessous :</p>
    <p><a href="{{ url }}" target="_blank" class="button">Nouveau mot de passe</a></p>
    <p>Cordialement,</p>
  </div>
  <div class="footer">
    <p>Cordialement,<br>L'équipe de 3T-BUSINESS</p>
  </div>
</div>
</body>
</html>
