<div class="grid">
  <p-toast></p-toast>
  <div class="col-12">
    <div
      class="flex flex-column md:flex-row md:justify-content-between md:align-items-center mb-3"
    >
      <h4 class="m-0 text-bold">Gestion des utilisateurs</h4>

      <p-button
        label="Ajouter"
        icon="pi pi-plus"
        styleClass="p-button-rounded p-button-info mr-2 mb-2"
        (onClick)="addNew()"
      ></p-button>
    </div>

    <div
      class="card flex surface-card p-grid grid flex-column md:flex-row md:align-items-center p-3"
    >
      <div class="p-inputgroup col-12 md:col-3 p-1">
        <span class="p-inputgroup-addon"> Nom </span>
        <input
          type="text"
          pInputText
          placeholder="Nom et prénom"
          (keyup.enter)="updateParams()"
          (keyup.escape)="resetParams()"
          [(ngModel)]="searchUser.name"
        />
      </div>
      <div class="p-inputgroup col-12 md:col-3 p-1">
        <span class="p-inputgroup-addon"> Email </span>
        <input
          type="text"
          pInputText
          placeholder="Email"
          (keyup.enter)="updateParams()"
          (keyup.escape)="resetParams()"
          [(ngModel)]="searchUser.email"
        />
      </div>
      <div class="p-inputgroup col-12 md:col-3 p-1">
        <span class="p-inputgroup-addon"> Téléphone </span>
        <input
          type="text"
          pInputText
          placeholder="Téléphone"
          (keyup.enter)="updateParams()"
          (keyup.escape)="resetParams()"
          [(ngModel)]="searchUser.numTel"
        />
      </div>
      <div class="flex col-12 md:col-3 p-1">
        <p-button
          icon="pi pi-times"
          pTooltip="Annuler"
          tooltipPosition="top"
          styleClass="p-button-outlined p-button-info ml-2 mr-2"
          (onClick)="resetParams()"
        ></p-button>
        <p-button
          icon="pi pi-search"
          pTooltip="Rechercher"
          tooltipPosition="top"
          styleClass="p-button-outlined p-button-info p-x-2 ml-2 mr-2"
          (onClick)="updateParams()"
        ></p-button>
      </div>
    </div>
  </div>

  <app-accounts-card
    *ngFor="let user of users"
    [user]="user"
    class="col-12 md:col-4 xl:col-3 p-3"
  >
  </app-accounts-card>

  <div class="flex grid col-12 justify-content-center">
    <p-paginator
      (onPageChange)="onPageChange($event)"
      [first]="page * limit"
      [rows]="limit"
      [totalRecords]="total"
      [rowsPerPageOptions]="rowsPerPageOptions"
    ></p-paginator>
  </div>
</div>
